/* This css controls the background gradient */
#gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(270deg, #003366, #06617d, #067370);
  background-size: 800% 800%;
  -webkit-animation: colors 30s ease infinite;
  -moz-animation: colors 30s ease infinite;
  animation: colors 30s ease infinite;
}

@-webkit-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* Changes the default text color */
.white {
  color: white;
}

/* Address card formatter */
.card {
  background-color: #EEEEEE;
  width: 300px;
  border: 5px solid #CCCCCC;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
}

.big-card {
  margin-top: 20px;
  padding: 10px;
  background-color: #BBBBBB;
  width: 700px;
  border: 10px solid #999999;
  box-shadow: 10px 10px 3px 3px rgba(0, 0, 0, .5);
  font-size: 20pt;
}

.button-section {
  margin: 5px 5px 5px 15px;  /* use this if Edit button is present */
  margin: 5px 5px 5px 0px;

}

.details {
  /* padding-left: 10px; */
  text-align: right;
}

.card-title {
  font-weight: bold;
}

.links {
  font-size: 14pt;
  font-weight: bold;
  font-style: italic;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  width: 200px

}
